footer {
  color: $white-gva;

  a,
  a:active,
  a:focus {
    color: $white-gva;
    text-decoration: none;
  }

  .links,
  .privacy {
    ul li {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .logos {
    img {
      max-width: rem-calc(150);
    }
  }
}

.footer {
  background: $footer;
  font-size: 0.875rem;

  .public & {
    @include full-width-background($adjust-margin: false, $adjust-padding: false);
  }

}
