
$grid-column-gutter: (
  small: 0,
  medium: 0,
);

body > header,
.wrapper > header {
  @include grid-column-gutter;
}


.top-bar-right {
  .is-active {
    font-weight: bold;
    text-decoration: underline;
  }
}
