.gva-banner {
  display: flex;
  flex-wrap: wrap;

  .left-banner {
    position: relative;
    background-color: #dce8ff;
    flex: 1 1 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;

    .logo-container {
      position: absolute;
      top: 2.5rem;
      left: 3rem;


      .logo-gva {
        max-width: 150px;
      }
    }

    .banner-image {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  .right-banner {
    flex: 1 1 100%;
    background-color: #dce8ff;
    padding: 2rem;

    @media screen and (min-width: 768px) {
      flex: 1 1 50%;
    }

    .info-block {
      max-width: 90%;
      margin: 0 auto;

      .registrations_counter {
        font-size: 1.25rem;
      }

      .welcome-counter {
        color: $brand;
        font-weight: bold;
      }
    }

    .stats-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      max-width: 90%;
      margin: 0 auto 1rem auto;

      .stat-item {
        flex: 1 1 45%;
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 70px;
          flex-shrink: 0;
        }

        .stat-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.25rem;

          .stat-label {
            font-weight: bold;
          }

          .stat-count {
            font-size: 1.25rem;
            color: #000;
          }
        }
      }
    }

    .info {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 768px) {
    .left-banner {
      flex: 1 1 50%;
    }
  }
}
