.gva-banner {
  display: flex;
  flex-wrap: wrap;

  .left-banner {
    background-color: #dce8ff;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    min-height: 350px;
    position: relative;

    .logo-container {
      left: 3rem;
      position: absolute;
      top: 2.5rem;


      .logo-gva {
        max-width: 150px;
      }
    }

    .banner-image {
      bottom: 0;
      height: auto;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .right-banner {
    background-color: #dce8ff;
    flex: 1 1 100%;
    padding: 2rem;

    @media screen and (min-width: 768px) {
      flex: 1 1 50%;
    }

    .info-block {
      margin: 0 auto;
      max-width: 90%;

      .registrations_counter {
        font-size: 1.25rem;
      }

      .welcome-counter {
        color: $brand;
        font-weight: bold;
      }
    }

    .stats-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 0 auto 1rem;
      max-width: 90%;

      .stat-item {
        align-items: center;
        display: flex;
        flex: 1 1 45%;
        gap: 1rem;

        img {
          flex-shrink: 0;
          width: 70px;
        }

        .stat-text {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          justify-content: center;

          .stat-label {
            font-weight: bold;
          }

          .stat-count {
            color: #000;
            font-size: 1.25rem;
          }
        }
      }
    }

    .info {
      margin: 0 auto;
      max-width: 90%;
    }
  }

  @media screen and (min-width: 768px) {
    .left-banner {
      flex: 1 1 50%;
    }
  }
}
