
@mixin custom-icon-mv {
  display: inline-block;
  height: 44px;
  width: 130px;
}

$padding: 30px;

.slider-gva {
  // margin: 20px 0;
  background-color: #f6f6f6;

  .content-left,
  .content-right {
    display: flex;
    flex-direction: column;
    height: 34em;
    justify-content: center;
    padding: 5em 1em;
    text-align: left;

    h1 {
      color: #1c9799;
      font-family: Roboto;
      font-size: 36px;
      font-weight: bold;
    }

    p {
      color: #191919;
      font-family: Roboto;
      font-size: 16px;
      width: 90%;
    }

    img {
      margin: 0 10px;
    }

    .buttons {
      display: flex;
      justify-content: left;
      margin: 15px 0;

      a.button {
        margin: 1em;
      }
    }
  }
}

.slider-gva.jumbo {
  margin-bottom: 0;
}

// @media print, screen and (max-width: 640px){
//   .slider-gva {
//     .content-left, .content-right {
//       height: 25em;
//       padding: 2em 5em;
//     }
//   }
// }

@media (max-width: 640px) {

  .slider-gva .content-left,
  .slider-gva .content-right {
    height: auto;
    padding: 0;
  }

  a#js-advanced-search-title {
    width: 100%;
  }

  ul.submenu.menu.vertical {
    text-align: right;
  }

  // .top-bar span.float-right {
  //   margin-top: 9px;
  // }

  // .top-bar span.float-right .menu-button {
  //   padding-right: 45px;
  //   margin-right: 5px;
  // }

  // .top-bar span.float-right .menu-button .menu-icon {
  //   right: 20px;
  // }
}
