%panel {
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 #dee0e3;
}


.debate,
.proposal,
.budget-investment,
.budget-investment-show,
.legislation,
.communities-show {
  margin: 0 0 $line-height;
}
