.documents {
  .documents-list {
    .sortable {
      .document-fields.nested-fields {
        .row {
          align-items: center;
          display: flex;
        }

        &.ui-sortable-helper {
          background-color: $info-bg;
          border: 1px solid $info-border;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          color: $color-info;
          padding: 10px;
        }
      }
    }
  }
}
