<% consult_documents_collections = documents.where(consult_document: true) %>
<% documents_collections = documents.where(consult_document: false) %>
<% if documents_collections.any? || consult_documents_collections.any? %>
  <div class="document-divider no-margin-top margin-bottom padding">
    <div class="row">
      <div class="small-12 column">
        <div class="additional-document-link">
          <% if documents_collections.any? %>
            <p>
              <strong><%= t("documents.additional") %></strong>
            </p>
            <% documents_collections.each do |document| %>
              <%= render Documents::DocumentComponent.new(document) %>
            <% end %>
          <% end %>
          <% if consult_documents_collections.any? %>
            <p>
              <strong><%= t("documents.consult")%></strong>
            </p>
            <% consult_documents_collections.each do |document| %>
              <%= render Documents::DocumentComponent.new(document) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
