// Add custom variables in this file. For example, define a new variable
// called `$important-link` which you can use in your custom CSS files.
//

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: font-url("custom/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: font-url("custom/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: font-url("custom/Roboto-Bold.ttf") format("truetype");
}

$body-font-family: "Roboto", "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
$header-font-family: $body-font-family;

// 0. Global

$red-gva: #c80f2e;
$blue-gva: #4db6ac;
$dark-blue-gva: #1c9799;
$black-gva: #191919;
$white-gva: #fff;

$brand: $dark-blue-gva;
$link: $brand;
$link-hover: darken($link, 20%);

$button-radius: 19px;
