.key-system-status {
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}

.key-system-status.operational {
  .card-divider {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
  }
}

.key-system-status.down {
  .card-divider {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
  }
}

.key-system-status.error {
  .card-divider {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
  }
}

.reveal.large {
  max-height: 85vh;
  overflow-y: auto;
}

pre {
  max-height: 49em;

  code {
    background-color: #2e2e2e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #f8f8f2;
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 1.5;
    max-height: 49em;
    max-width: 75vw;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px;
  }
}
